@media (max-width: 992px) {
  .menus {
    display: none;
  }
  .hamburger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body .container .section-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 92px;
}

body .container .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .section-header div {
  position: relative;
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 48px;
}

body .container .section-header div::after {
  content: "";
  width: 70px;
  height: 4px;
  background: #78b646;
  position: absolute;
  left: 0;
  bottom: -4px;
}

body .container .section-description {
  font-size: 20px;
}

body .container .section-description.align-center {
  text-align: center;
}

body .container .read-more-content {
  text-decoration: none;
}

body .container .read-more-content button {
  cursor: pointer;
  border: 0;
  padding: 15px;
  min-width: 180px;
  background: #000;
  color: #fff;
}

body .container .divider {
  border: 1px solid #fff;
  margin: 40px 0;
}

body .container .header-section {
  background-image: url("../images/banner2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding-top: 20px;
}

body .container .header-section .header {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(120, 182, 70, 0.8);
}

body .container .header-section .header .logo {
  width: 252px;
  height: 70px;
}

body .container .header-section .header .logo img {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

body .container .header-section .header .logo::before {
  content: "";
  background-image: url("../images/logo_bg.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 198px;
  width: 390px;
  background-repeat: no-repeat;
}

body .container .header-section .header .menus {
  width: 50%;
}

body .container .header-section .header .menus ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header-section .header .menus ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body .container .header-section .header .menus ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

body .container .header-section .header .menus ul li.active a {
  color: #000;
}

body .container .header-section .header .hamburger {
  display: none;
}

body .container .header-section .header .hamburger .icon {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

body .container .header-section .header .hamburger #mobile-menu {
  display: none;
  position: absolute;
  right: 52px;
  top: 64px;
  background: #fff;
  padding: 20px;
  z-index: 9999;
}

body .container .header-section .header .hamburger #mobile-menu ul {
  margin: 0;
  padding: 0;
}

body .container .header-section .header .hamburger #mobile-menu ul li {
  display: block;
  padding-bottom: 10px;
}

body .container .header-section .header .hamburger #mobile-menu ul li a {
  text-decoration: none;
  color: #000;
}

body .container .header-section .banner {
  position: relative;
  padding-bottom: 110px;
}

body .container .header-section .banner .container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

body .container .header-section .banner .container .content-section {
  padding-top: 20%;
}

body .container .header-section .banner .container .content-section span {
  color: #000;
  font-size: 28px;
  line-height: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  display: block;
}

body .container .header-section .banner .container .content-section h1 {
  margin: 0;
  font-size: 92px;
  font-weight: 500;
  color: #78b646;
  margin-bottom: 48px;
  line-height: 84px;
}

body .container main #about .about-section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

body .container main #about .about-img {
  margin-bottom: 40px;
}

body .container main #ourproduct {
  background: #f8f8f8;
}

body .container main #ourproduct .products-section {
  width: 70%;
  margin-bottom: 40px;
}

body .container main #ourproduct .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container main #ourproduct .product-list .product-item {
  max-width: 278px;
  margin-bottom: 30px;
  -webkit-transition: ease-in all 0.3s;
  transition: ease-in all 0.3s;
}

body .container main #ourproduct .product-list .product-item figure {
  margin: 0;
  background: #fff;
}

body .container main #ourproduct .product-list .product-item .item-details {
  padding: 16px;
}

body .container main #ourproduct .product-list .product-item .item-details h2 {
  margin-top: 0;
}

body .container main #ourproduct .product-list .product-item .item-details h3 {
  color: #78b646;
}

body .container main #ourproduct .product-list .product-item:hover {
  background: #fff;
  -webkit-transition: ease-in all 0.3s;
  transition: ease-in all 0.3s;
  margin-top: -10px;
  -webkit-box-shadow: 0px 0px 4px 2px #78b646;
          box-shadow: 0px 0px 4px 2px #78b646;
}

body .container main #using .using-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container main #using .using-section .section-header div::after {
  background: #fff;
}

body .container main #using .using-section .using-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background: #78b646;
  padding: 0 72px;
  width: 50%;
}

body .container main #using .using-section .using-text-box .text-box {
  margin-top: auto;
  margin-bottom: auto;
}

body .container main #using .using-section figure {
  margin: 0;
}

body .container main #using .using-section figure img {
  width: 100%;
}

body .container main #gallery {
  background: #f8f8f8;
}

body .container main #gallery .gallery-section .grid-container {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

body .container main #gallery .gallery-section .grid-container .grid-item figure {
  width: 150px;
  margin: 0;
}

body .container main #gallery .gallery-section .grid-container .grid-item img {
  width: 100%;
  background: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body .container main #gallery .gallery-section .grid-container .grid-item img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/span 2;
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(2) figure {
  width: auto;
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/span 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/span 2;
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(16) figure {
  width: auto;
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/span 2;
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(11) figure {
  width: auto;
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(18) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(18) figure {
  width: auto;
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(23) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/span 2;
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(23) figure {
  width: auto;
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(25) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/span 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/span 2;
}

body .container main #gallery .gallery-section .grid-container .grid-item:nth-child(25) figure {
  width: auto;
}

body .container main #contactus {
  background-image: url("../images/background.jpg");
}

body .container main #contactus .section-header div {
  color: #fff;
}

body .container main #contactus .section-header div::after {
  background: #fff;
}

body .container main #contactus .location-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container main #contactus .location-section .user-form {
  padding: 24px;
  background: #f8f8f8;
  width: 100%;
}

body .container main #contactus .location-section .user-form input {
  width: calc(100% - 24px);
  border: none;
  height: 44px;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 16px;
  outline: none;
  -webkit-box-shadow: 0px 0px 2px 2px #ccc;
          box-shadow: 0px 0px 2px 2px #ccc;
}

body .container main #contactus .location-section .user-form input::-webkit-input-placeholder {
  color: #ccc;
}

body .container main #contactus .location-section .user-form input:-ms-input-placeholder {
  color: #ccc;
}

body .container main #contactus .location-section .user-form input::-ms-input-placeholder {
  color: #ccc;
}

body .container main #contactus .location-section .user-form input::placeholder {
  color: #ccc;
}

body .container main #contactus .location-section .user-form textarea {
  width: calc(100% - 24px);
  padding-left: 16px;
  padding-top: 16px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
  outline: none;
  -webkit-box-shadow: 0px 0px 2px 2px #ccc;
          box-shadow: 0px 0px 2px 2px #ccc;
}

body .container main #contactus .location-section .user-form textarea::-webkit-input-placeholder {
  color: #ccc;
}

body .container main #contactus .location-section .user-form textarea:-ms-input-placeholder {
  color: #ccc;
}

body .container main #contactus .location-section .user-form textarea::-ms-input-placeholder {
  color: #ccc;
}

body .container main #contactus .location-section .user-form textarea::placeholder {
  color: #ccc;
}

body .container main #contactus .location-section .user-form .send-feedback button {
  cursor: pointer;
  border: 0;
  padding: 15px;
  min-width: 180px;
  background: #000;
  color: #fff;
}

body .container footer .footer-section {
  background: #000;
  color: #fff;
}

body .container footer .footer-section .section-header div::after {
  background: #fff;
}

body .container footer .footer-section .footer-sub-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container footer .footer-section .footer-sub-section .sub-section {
  padding: 0 24px;
  width: 30%;
}

body .container footer .footer-section .footer-sub-section .sub-section ul {
  padding: 0;
  margin: 0;
}

body .container footer .footer-section .footer-sub-section .sub-section ul li {
  display: block;
  padding: 4px 0;
  font-size: 18px;
}

body .container footer .footer-section .footer-sub-section .sub-section ul li a {
  text-decoration: none;
  color: currentColor;
}

body .container footer .footer-section .footer-sub-section .sub-section:nth-child(3) ul li {
  padding: 12px 0;
}

body .container footer .footer-section .subscriber-form {
  padding: 10px;
  background: #fff;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container footer .footer-section .subscriber-form input[type="email"] {
  border: none;
  outline: none;
  height: 40px;
  width: 60%;
}

body .container footer .footer-section .subscriber-form input[type="email"]::-webkit-input-placeholder {
  font-size: 18px;
}

body .container footer .footer-section .subscriber-form input[type="email"]:-ms-input-placeholder {
  font-size: 18px;
}

body .container footer .footer-section .subscriber-form input[type="email"]::-ms-input-placeholder {
  font-size: 18px;
}

body .container footer .footer-section .subscriber-form input[type="email"]::placeholder {
  font-size: 18px;
}

body .container footer .footer-section .subscriber-form button {
  width: 40%;
  cursor: pointer;
  border: none;
  background: #000;
  min-width: 180px;
  color: #fff;
}

body .container footer .footer-section .subscriber-form button:hover {
  background: #78b646;
}

body .container footer .copyright-section {
  color: #fff;
  background: #78b646;
  padding: 20px 0;
  margin-bottom: -48px;
  font-size: 18px;
}

body .back-to-top {
  visibility: hidden;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  left: 84vw;
  bottom: 32px;
}

body .back-to-top button {
  cursor: pointer;
  border: 0;
  padding: 15px;
  min-width: 180px;
  background: #000;
  color: #fff;
}

body .back-to-top button {
  border: 1px solid #fff;
}
